params.condaBinDir = new File("conda/bin").getCanonicalPath()
report {
    enabled = true
    file = "nextflow.html"
}
timeline {
    enabled = true
    file = "timeline.html"
}

profiles {
    standard {
        process {
            beforeScript = """
            export PATH="${params.condaBinDir}:\${PATH}"
            unset PYTHONPATH
            unset PYTHONHOME
            """
        }
    }
}
